*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    text-align: center;
}

.wrapper .baidulogo{
    height: 350px;
    text-align: center;
}

.logo{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 0px;
    height: 350px;
    padding-left: 400px;
    background-image: url(https://www.baidu.com/img/bd_logo1.png?where=super);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#navigation{
    display: inline-block;;
    width: 500px;
    height: 36px;
    border: 1px solid #b8b8b8;
    padding-left: 4px;
}

#submitbutton{
    cursor: pointer;
    display: inline-block;
    height: 38px;
    width: 102px;
    color: white;
    background-color: #38f;
    border: 0;
    line-height: 38px;
}
